.contacts {
  padding-top: 121px;
  padding-bottom: 120px;
  color: $color-white;
  background-color: $color-cerulean-blue;

  @include vp-1439 {
    padding-top: 100px;
    padding-bottom: 100px;
  }

  @include vp-767 {
    padding-top: 67px;
    padding-bottom: 67px;
  }
}
