.custom-select {
  position: relative;
  width: 100%;
  padding: 0;
  margin: 0;

  span {
    font-size: 14px;
    font-weight: 400;
    line-height: 14px;
    margin-bottom: 7px;
    display: block;
    opacity: 0.8;
  }
}

.custom-select--primary {
  color: $color-alabaster;

  &:focus-within {
    span {
      opacity: 1;
    }
  }

  &:hover {
    span {
      opacity: 1;
    }

    .custom-select__button {
      outline: 1px solid $color-white;
    }
  }

  span {
    @include vp-767 {
      font-size: 12px;
    }
  }
}

.custom-select--secondary {
  color: $color-charcoal;

  &:focus-within {
    span {
      opacity: 1;
    }
  }

  &:hover {
    span {
      opacity: 1;
    }

    .custom-select__button {
      outline: 1px solid $color-charcoal;
    }
  }

  span {
    @include vp-767 {
      margin-bottom: 4px;
    }
  }
}

.custom-select__button {
  position: relative;
  min-height: 50px;
  width: 100%;
  padding: 18px 20px;
  border-radius: 8px;
  border: none;
  transition: outline $trans-default;
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;
  appearance: none;
  background-color: $color-transparent;
  display: flex;
  align-items: center;
  cursor: pointer;

  &:focus,
  &:active {
    svg {
      transform: rotate(0);
    }
  }

  @include vp-767 {
    min-height: 44px;
    padding: 15px 20px;
  }

  &--primary {
    color: $color-alabaster;
    outline: 1px solid $color-white-30;

    &:focus,
    &:active {
      outline: 1px solid $color-white;
    }
  }

  &--secondary {
    color: $color-charcoal;
    outline: 1px solid $color-charcoal-30;

    &:focus,
    &:active {
      outline: 1px solid $color-charcoal;
    }
  }

  span:not(.custom-select__icon) {
    margin: 0;
  }
}

.custom-select__button--primary svg {
  stroke: $color-white;
}

.custom-select__button--secondary svg {
  stroke: $color-charcoal;
}

.custom-select__icon {
  flex-shrink: 0;
  width: 16px;
  height: 16px;
  margin-left: auto;

  svg {
    color: $color-transparent;
    transform: rotate(180deg);
    transition: all $trans-default;
  }
}
