.hero__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.hero__item {
  min-height: 800px;
  display: flex;
  flex-direction: column;
}

.hero__content {
  margin-top: auto;
  background-color: $color-white;
}

.hero__image {
  position: absolute;
  inset: 0;
  z-index: -1;

  &::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: $color-cerulean-blue-20;
  }

  img {
    display: block;
    max-width: 100%;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
