.news {
  margin-top: 120px;
  margin-bottom: 119px;

  @include vp-1439 {
    margin-bottom: 100px;
  }

  @include vp-767 {
    margin-bottom: 60px;
  }

  h2 {
    @include title;

    padding-top: 4px;
    margin-bottom: 44px;
    text-align: center;

    @include vp-1439 {
      margin-bottom: 30px;
    }

    @include vp-767 {
      margin-bottom: 24px;
      padding-right: 15px;
    }
  }
}

.news__tab-buttons {
  margin-bottom: 38px;

  @include vp-1439 {
    margin-bottom: 30px;
  }

  @include vp-767 {
    margin: 0 0 24px;
  }

  ul {
    padding: 0;
    margin: 0 auto;
    list-style: none;
    width: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;

    @include vp-1439 {
      gap: 10px;
    }

    @include vp-767 {
      gap: 12px;
    }
  }
}

.news__tab-button {
  padding: 14px 26px;
  font-size: 14px;
  font-weight: 500;
  line-height: 14px;
  letter-spacing: 0.28px;
  text-transform: uppercase;
  color: $color-cerulean-blue-60;
  background-color: $color-transparent;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  outline: none;
  user-select: none;
  transition: outline $trans-default, color $trans-default;

  &:hover,
  &:focus-visible {
    color: $color-cerulean-blue;
  }

  @include vp-1439 {
    padding: 14px 20px;
  }

  @include vp-767 {
    padding: 10px 14px;
    font-size: 12px;
    line-height: 12px;
    letter-spacing: 0.24px;
  }
}

.news__slider {
  margin-bottom: 40px;

  @include vp-1439 {
    margin-bottom: 30px;
  }

  @include vp-767 {
    margin-bottom: 24px;
    padding-right: 15px;
  }
}

.news__list {
  margin: 0;
  padding: 0;
  list-style: none;

  @include vp-1439 {
    height: 75vw;
  }

  @include vp-1023 {
    height: 95vw;
  }

  @include vp-767 {
    height: 113vw;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: flex-start;
    row-gap: 20px;
  }

  @include vp-479 {
    height: 184.38vw;
  }

  @include vp-319 {
    min-height: 330px;
    flex-direction: column;
    flex-wrap: wrap;
    row-gap: 0;
  }
}

.news__item {
  max-width: 286px;
  overflow: hidden;

  .news__image + .news__image {
    display: none;
  }

  article {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    min-height: 400px;

    @include vp-1439 {
      min-height: 100%;
    }
  }

  .news__wrapper {
    max-width: 256px;

    @include vp-767 {
      max-width: 279px;
    }
  }

  @include vp-1439 {
    max-width: 324px;
  }

  @include vp-767 {
    max-width: 290px;
    height: 54vw;

    &:nth-child(2n) {
      height: 54vw;
    }
  }

  @include vp-479 {
    height: 103vw;

    &:nth-child(2n) {
      height: 75vw;
    }
  }

  @include vp-319 {
    height: 100%;

    &:nth-child(2n) {
      height: 100%;
    }
  }
}

.news__item.swiper-slide-active,
.news__item.swiper-slide-prev {
  max-width: 604px;

  .news__image {
    display: none;
  }

  .news__image + .news__image {
    display: block;
  }

  .news__wrapper {
    max-width: 405px;

    @include vp-1439 {
      max-width: 256px;
    }

    @include vp-767 {
      max-width: 279px;
    }
  }

  @include vp-1439 {
    max-width: 324px;

    .news__image {
      display: block;
    }

    .news__image + .news__image {
      display: none;
    }
  }

  @include vp-767 {
    max-width: 290px;
  }
}

.news__wrapper {
  display: flex;
  flex-direction: column;
}

.news__image {
  position: absolute;
  inset: 0;
  z-index: -1;
  border-radius: 12px;
  background-color: $color-mischka;

  img {
    display: block;
    max-width: 100%;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 12px;
  }
}

.news__tab-button.is-active {
  outline: 1px solid $color-cerulean-blue;
  color: $color-cerulean-blue;
}

.news__swiper-controls {
  display: flex;
  justify-content: space-between;
}

.news__pagination {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;

  .swiper-pagination-bullet {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    width: 32px;
    height: 32px;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    color: $color-cerulean-blue-50;
    opacity: 1;
    background: $color-transparent;
  }

  .swiper-pagination-bullet-active {
    color: $color-white;
    background: $color-cerulean-blue;
  }
}
