@mixin vp-1439 {
  @media (max-width: ($vp-1440 - 1px)) {
    @content;
  }
}

@mixin vp-767 {
  @media (max-width: ($vp-768 - 1px)) {
    @content;
  }
}

@mixin angle {
  position: relative;

  &::after {
    position: absolute;
    content: "";
    mask-image: url("../img/svg/angle.svg");
    mask-repeat: no-repeat;
    mask-size: cover;
    background-color: $color-white;
  }
}
